body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 30px auto;
  width: 300px;
  /*border: 5px solid black;*/
}

li {
  float: left;
  width: 100px;
  height: 100px;
  outline: 2px solid black;
  background: #b3b3b3;
  cursor: pointer;
  font-size: 60px;
  line-height: 90px;
}

li:hover {
  background: #747474;
}
